* {
	font-family: var(--font);
	color: var(--text-color);
}
body {
	background-color: var(--background);
}
#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navbar_container {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.navbar {
	border-left: 0.25rem solid var(--accent);
	border-top: 0.25rem solid var(--accent);
	background-color: var(--background2);
	width: 80%;
	height: fit-content;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	padding: 0.5rem;
	display: flex;
}
.div_right_align {
	/* width: 100%; */
	display: flex;
	font-size: 16pt;
	justify-content: flex-end;
	align-items: center;
}
.div_left_align {
	width: 100%;
	display: flex;
	flex-grow: 1;
	height: fit-content;
	align-items: center;
}
.Link {
	color: var(--text-color) !important;
	font-style: unset !important;
	margin: 1rem;
	font-style: italic;
}
a {
	color: var(--text-color) !important;
	font-style: unset !important;
	font-style: italic;
}
#thread_href {
	background-color: var(--accent);
	margin: 0 !important;
}
#comment_href {
	background-color: var(--accent);
	margin: 0 !important;
}
.thread_div {
	width: 80%;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.thread {
	background-color: var(--background2);
	width: 100%;
	margin-bottom: 1rem;
	padding-bottom: 0.75rem;
	border-left: 0.25rem solid var(--accent);
	border-top: 0.25rem solid var(--accent);
}
.thread_comment {
	background-color: var(--background2);
	width: 80%;
	margin-top: 1rem;
	padding-bottom: 1rem;
	border-left: 0.25rem solid var(--accent);
	border-top: 0.25rem solid var(--accent);
}
.inline_comment_div {
	background-color: var(--background2);
	padding: 1rem;
}
.inline_comment {
	background-color: var(--background);
	width: 90%;
	border-left: 0.25rem solid var(--accent2) !important;
	border-top: 0.25rem solid var(--accent2) !important;
}
.inline_comment_href {
	background-color: var(--accent2) !important;
}
.thread_title {
	font-size: 15pt;
	font-weight: 600;
	margin: 0.5rem;
	padding-left: 1rem;
}
.thread_content {
	margin-left: 1rem;
	font-weight: 100 !important;
}
.thread_date {
	color: var(--text-color2);
	font-style: italic;
	font-size: 10pt !important;
	margin: 0;
	overflow-wrap: break-word;
}
.author_date_container {
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.header1 {
	font-size: 25pt;
}
hr {
	border: none !important;
	border-top: 1px dashed var(--accent) !important;
	width: 40%;
	margin-left: 1rem !important;
	margin: 0;
}
#hr {
	width: 90%;
	border-top: 1px dotted var(--accent) !important;
}
#seperator_thread_comments {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
#footer_href {
	margin-left: 1rem;
	color: var(--text-color2) !important;
}
#threadExtended {
	width: 80% !important;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.comment {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.default_button {
	text-decoration: underline;
	font-style: italic;
	background: none;
	padding: 0;
	margin-left: 1rem;
	border: none;
}
.input_ {
	color: var(--text-color);
	background-color: var(--background2);
	border: 1px solid var(--accent);

	width: 25%;
	padding: 0.25rem;
	margin-bottom: 0.25rem;
	resize: vertical;
}
.input__ {
	color: var(--text-color);
	background-color: var(--background2);
	border: 1px solid var(--accent);
	margin-bottom: 0.25rem;
	width: 100%;
	padding: 0.5rem;
	resize: vertical;
}
.createThread_container {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
}
.new_thread_button {
	max-width: max-content;
	margin: 1rem;
}
.reply_comment_container {
	display: flex;
	width: 90%;
	margin-right: 1rem;
	flex-direction: column;
	padding: 1rem;
}
.vr {
	width: 1px;
	height: 20px;
	display: inline-block;
	border: none;
	border-left: 1px solid var(--accent2);
	margin-left: 1rem;
}
.vrhr_center_items {
	display: flex;
	align-items: center;
	justify-content: center;
}
.top_bar_div {
	display: flex;
	margin-bottom: 1rem;
	width: 100%;
	/* justify-content: space-between; */
}
.settings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 1rem;
	margin-right: 1rem;
}
.setting_select {
	background-color: var(--background2);
	color: var(--text-color);
	border: 1px solid var(--accent);
}
.Link_top {
	color: var(--text-color2) !important;
}
.Link_top_container_span {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.toggle_button {
	background: none;
	color: var(--text-color2) !important;
	margin-left: 0.25rem;
	padding: 0;
	border: none;
}
.hundred_percent {
	width: 100%;
}
.settings_theme_display_values {
	background-color: var(--background2);
	margin-top: 1rem;
	padding: 0.5rem;
}
.settings_theme_display_values > p {
	margin: 0 !important;
	margin-bottom: 0.25rem;
	/* color: black; */
}
